# RIS UI
recursive-include rmantools *.args

# RSLT.
recursive-include rmantools *.h
recursive-include rmantools *.rslt
recursive-include rmantools *.sl

# Open Shading Language.
recursive-include rmantools *.osl
recursive-include rmantools *.oso

# Compiled.
recursive-include rmantools *.cpp
recursive-include rmantools *.so

# Config.
recursive-include rmantools *.ini

# Icons.
recursive-include rmantools *.png
